%p
  %span{ style: "font-size: 1.4em; float: right; margin-left: 2px; margin-right: 12px; position: relative; top: 8px;" } ⤵︎
  Drag items from over there to over here to add them
  %br
  %span.text-70 (or double-click on them)
