%footer.footer
  .row
    .twelve.columns.text-r.text-85
      = link_to 'About', about_path
      .divider ⎟
      %span
        &copy;
        = Time.now.year
      -#= link_to 'Privacy', ''
      -#.divider ⎟
      -#= link_to 'FAQ', ''
