%p
  I created this site because I always seem to forget one thing when I go camping.

%p
  Usually it's a towel.

%p
  Enjoy!

%p
  = link_to 'github', 'https://github.com/senorprogrammer'
  |
  = link_to 'twitter', 'https://twitter.com/senorprogrammer'
